@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
